.Illustration {
    position: absolute;
    left: 57.64%;
    right: 16.32%;
    top: 11.98%;
    bottom: 30.21%;
}

.Planet {
    position: absolute;
    height: 372px;
    width: 375px;
    top: 72px;
    background: url(assets/Planet.png);
}

.Rocket{
    position: absolute;
    width: 102px;
    height: 140px;
    left: 135px;
    background: url(assets/Rocket.png);
    z-index: 50;
    animation-timing-function: linear;

    &--fly {
        animation-name: flying;
        animation-duration: 3s;
    }
}

@keyframes flying {
    0%   {left: 135px; top: 0px;}
    25%  {left: 140px;}
    30%  {left: 130px; top: -120px; transform: rotate(0deg);}
    70%  {left: 130px; top: -120px; transform: rotate(360deg);}
    100% {left: 135px; top: 0px; transform: rotate(360deg);}
}

.LandingGear {
    position: absolute;
    width: 68px;
    height: 23px;
    left: 152px;
    top: 122px;    
    background: url(assets/LandingGear.png);
    z-index: 20;
}

.SmokeLeft {
    position: absolute;
    width: 65px;
    height: 62px;
    left: 87px;
    top: 82px;
    background: url(assets/Smoke2.png);
    z-index: 20;
}

.SmokeRight {
    position: absolute;
    width: 52px;
    height: 50px;
    left: 220px;
    top: 95px;
    background: url(assets/Smoke1.png);
    z-index: 20;
}