.Modal {
    position: absolute;
    width: 540px;
    height: 360px;
    left: 450px;
    top: 204px;

    z-index: 100;

    background: linear-gradient(0deg, #2B224A, #2B224A), #FFFFFF;
    border: 1px solid #342957;
    box-sizing: border-box;
    box-shadow: 0px 12px 32px rgba(22, 13, 49, 0.4);
    border-radius: 16px;

    &--hidden {
        visibility: hidden;
    }
}

.Headline {
    position: absolute;
    width: 492px;
    height: 32px;
    left: 24px;
    top: 20px;
    
    &__Button {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 473px;
        top: 9px;
        cursor: pointer;
    }

    &__Icon {
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        left: calc(50% - 14px/2 + 0px);
        top: calc(50% - 14px/2 + 0px);

        background: #C3B8E8;
        mask-image: url(assets/IconX.png);
    }
}

.Header {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 492px;
    height: 40px;
    left: 24px;
    top: 68px;

    &__Cell {
        display: flex;
        align-content: center;
        width: 100%;
        border-radius: 4px;
        background: #342A56;
        position: relative;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        color: #A094C6;

        &--active {
            background: #251D42;
        }

        & p {
            width: 100%;
            margin: 10px 36px 10px 16px;
        }
    }

    &__Button {
        width: 8px;
        height: 12px;
        cursor: pointer;
        position: absolute;
        right: 18px;
        top: 14px;

        &--Up {
            background: #C3B8E8;
            mask-image: url(assets/Up.png);
        }

        &--Down {
            background: #C3B8E8;
            mask-image: url(assets/Down.png);
        }
        &--Both {
            background: #C3B8E8;
            mask-image: url(assets/Down.png), url(assets/Up.png);
        }
    }

}

.Container {
    position: absolute;
    top: 124px;
    left: 24px;
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 492px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
        background: #221A3C;
        height: 212px;
      }
      
      /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background: #221A3C;
      }
       
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #53477D;
        border-radius: 8px;
      }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #342863; 
      }

    &__Gradient {
        position: absolute;
        width: 487px;
        height: 52px;
        left: 24px;
        top: 294px;
        
        background: linear-gradient(180deg, rgba(43, 34, 74, 0) 0%, #2B224A 100%);
    }
}

.Row {
    margin: 14px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__Cell {
        width: 100%;
        text-align: left;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;        
        
        color: #D2CBE9;
    }
}